<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/authorization.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="main">
        <p class="sign" align="center">Регистрация</p>
        <form method="POST">
            <input class="un" type="text" name="fullname" placeholder="ФИО" required>
            <input class="un" type="text" name="username" placeholder="Псевдоним" required>
            <input class="pass" type="password" name="password" placeholder="Пароль" required>
            <button type="submit" class="submit">Зарегистрироваться</button>
            <p align="center"><a href="/entry">Уже зарегистрированы?</a></p>
        </form>
    </div>
</body>
</html>