<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/entry.css">
    <title>Вход</title>
</head>
<body>
    <div class="main">
        <p class="sign">Вход</p>
        <form method="POST">
            <input class="un" type="text" name="username" placeholder="Псевдоним" required>
            <input class="pass" type="password" name="password" placeholder="Пароль" required>
            <button type="submit" class="submit">Войти</button>
            <p><a href="/authorization">Ещё не зарегистрированы?</a></p>
        </form>
    </div>
</body>
</html>